@font-face {
    font-family: Gilroy;
    src: url(../../Fonts/Gilroy.otf);
}

@font-face {
    font-family: Rodin;
    src: url(../../Fonts/Rodin-Medium.otf);
}

@font-face {
    font-family: Cafe;
    src: url(../../Fonts/CafeKr.ttf);
}

@font-face {
    font-family: RubikBold;
    src: url(../../Fonts/Rubik-Bold.ttf);
}

@font-face {
    font-family: RubikMedium;
    src: url(../../Fonts/Rubik-Medium.ttf);
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #181818;
}

h1{
    font-family:RubikMedium;
    font-weight: bolder;
    color:white;
    font-size: 70px;
    background: linear-gradient(150deg, rgba(27,143,161,1) 0%, rgba(32,213,136,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    font-family:Gilroy;
    font-weight: bolder;
    color:white;
    font-size: 40px;
}

h3{
    font-family: Cafe;
    font-weight: 1000;
    color:white;
    font-size: 17px;
    line-height: 1.2;
    text-decoration: none;
}

h4{
    font-family: Cafe;
    font-weight: bolder;
    color:white;
    font-size: 20px;
}

h5{
    font-family: Cafe;
    font-weight: bold;
    color:white;
    font-size: 13px;
}


iframe{
    border-radius: 18px;
}

r.sticky{
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    height:80px;
    background: rgba(18, 18, 18, 0.932);
    transition: 0.5s;
    right:2%;
}
  
blockquote p {
    padding: 15px;
    background: #303030;
    border:2px solid rgba(110, 110, 110, 0.211);
    border-radius: 5px;
}

blockquote p::before {
    padding: 15px;
    width:20px;
    height:50px;
    background: #303030;
    border:2px solid rgba(110, 110, 110, 0.211);
    border-radius: 5px;
}

pre,
code {
	color: #d4d4d4;
	font-size: 14px;
	font-family: Consolas;
	line-height: 1.5;
	direction: ltr;
	white-space: pre;
	text-align: left;
	text-shadow: none;
	word-break: normal;
	word-spacing: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre::selection,
code::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	pre,
	code {
		text-shadow: none;
	}
}

pre {
	margin: 0.5rem 0 16px;
	padding: 0.8rem 1rem 0.9rem;
	overflow: auto;
	background: #282a36;
	border-radius: 4px;
}

code {
	padding: 0.1em 0.3em;
	color: #ffffff;
	background: #5b5b5b;
	border-radius: 0.3em;
	white-space: pre-wrap;
}

pre.astro-code > code {
	all: unset;
}

pre[data-line] {
	position: relative;
}

pre > code {
	position: relative;
	z-index: 1;
}

img{
    border-radius: 8px;
}

.fa-solid{
    left:50%;
    transform: translate(-50%,0);
}

.ytvid{
    box-shadow: 0px 0px 70px rgb(43, 43, 43);
    top:50px;
    left:50%;
    transform: translate(-50%,0);
    position: relative;
    width:80%;
}

.fa-solid::before{
    color:rgb(54, 172, 54);
    margin-right:15px;
}

@keyframes downup {
    0%{
        transform: translate(0, -20px);
    }
    50%{
        transform: translate(0,0px);
    }
    100%{
        transform: translate(0,-20px);
    }
}
.notice {
  width:auto;
  height: auto;
  padding: 18px;
  margin-bottom: 0px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  display: inline-block;
  position: relative;
}
.warn {
  background-color: rgba(182, 197, 14, 0.6);
  color: white;
  border: 0px solid rgb(182, 197, 14);
}
.warn a {
  color: white;
}
.warn::before {
  margin-left: 5px;
  margin-right: 10px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f06a";
}
.danger {
  background-color: rgba(197, 14, 14, 0.6);
  color: white;
  border: 0px solid rgb(197, 14, 14);
}
.danger::before {
  margin-left: 5px;
  margin-right: 10px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f071";
}
.success {
  background-color: rgba(10, 190, 40, 0.6);
  color: white;
  border: 0px solid rgb(10, 190, 40);
}
.success::before {
  margin-left: 5px;
  margin-right: 10px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f058";
}
.info {
  background-color: rgba(14, 124, 197, 0.6);
  color: white;
  border: 0px solid rgb(14, 124, 197);
}
.info code {
  background-color: rgba(14, 124, 197, 0.6);
  color: white;
  border-radius: 4px;
}
.warn code {
  background-color: rgba(182, 197, 14, 0.6);
  color: white;
  border-radius: 4px;
}
.danger code {
  background-color: rgba(197, 14, 14, 0.6);
  color: white;
  border-radius: 4px;
}
.success code {
  background-color: rgba(10, 190, 40, 0.6);
  color: white;
  border-radius: 4px;
}
.info::before {
  margin-left: 5px;
  margin-right: 10px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f059";
}
.generic {
  background-color: rgba(97, 97, 97, 0.062);
  color: #ffffff;
  border: 0px solid rgb(64, 64, 64);
}
.generic::before {
  margin-left: 5px;
  margin-right: 10px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0c6";
}
 .toc-post:before {
    font-family: Gilroy;
    left: -2px;
    top: -43px;
    width: calc(100% + 4px);
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(101, 101, 101, 0.184);
    border: 2px solid rgba(128, 128, 128, 0.168);
    border-bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    content: "\00a0 \00a0 \00a0 \00a0 \00a0 \00a0 Table of Contents";
    position: absolute;
  }
  .toc-post {
    top: 43px;
    right: 0;
    width: 100%;
    padding: 10px;
    font-family:
      inter,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
    background-color: rgba(88, 88, 88, 0.096);
    border: 2px solid rgba(128, 128, 128, 0.168);
    border-top: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    backdrop-filter: blur(8px);
    z-index: 1;
    position: relative;
  }
  .toc-link {
    color: rgb(38, 38, 38);
  }
  .toc-link:hover {
    color: rgb(50, 168, 23);
  }